.navigation{
    padding: 1.5em 1.5em 0 1.5em;
    display: flex;
    justify-content: space-between;
    .back-link, .cart{
        display: block;
        background-color: #ffffff;
        height: 40px;
        width: 40px;
        border-radius: 10px;
        text-decoration: none;
        color: #3f3f3f;
        font-size: 1.2rem;
    }
    & svg{
        display: block;
        height: 100%;
        margin: auto;
    }
    .cart{
        position: relative;
        div{
            position: absolute;
            right: -10px;
            top: -10px;
            height: 20px;
            min-width: 20px;
            border-radius: 10px;
            line-height: 20px;
            font-size:.8rem;
            font-weight: bold;
            background-color: #E86B06;
            text-align: center;
            vertical-align: top;
            color: white;
        }
    }
}
