.listing{
    position: relative;
    background-color: #dadada;
    height: 100%;
    .navigation{
        margin: 0;
    }
    .title{
        margin: 4em 1.5em 0;
        .logo{
            position: absolute;
            top: 2em;
            left: 50%;
            margin: 0;
            margin-left:-40px;
            height: 80px;
        }
        h1{
            font-size: 2em;
            font-weight: bold;
        }
        em{
            display: inline-block;
            margin-top: .8em;
            font-style: italic;
        }
        h2{
            text-align: center;
            margin-top: 1em;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
    ul{
        margin-top: 2em;
        background-color: #ffffff;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}